.show-details{
    display: block;
    position: absolute;
    z-index: 5;
    background-color: rgb(79, 154, 154);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 4rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    animation-name: mymovee;
    animation-duration: 1s;
}

@keyframes mymovee {
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width: 100%;
        opacity: 1;
    }
}

.modal{
    width: 90%;
    margin: 1.5rem auto;
    padding: 1rem 2rem;
    background: linear-gradient(to left top,#42a391,#6cdbed);
    animation-name: mymove;
    animation-duration: 2s;
}

@keyframes mymove {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.text{
    font-size: 22px;
    color: white;
}
.show-nothing{
    display: none;
}
.details-btn{
    padding: .4rem 2rem;
    border-radius: .3rem;
    outline: none;
    background-color: teal;
    border: none;
    color: white;
    margin-top: 3rem;
}


@media screen and (max-width:420px){
    .show-details{
        display: block;
        position: absolute;
        z-index: 5;
        background-color: rgb(79, 154, 154);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: .1rem;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items:start;
        justify-content: center;
    }

    .modal{
        width: 95%;
        margin: 2rem auto 1rem;
        background: linear-gradient(to left top,#42a391,#6cdbed);
        padding: 5px 5px 9px;
        border-radius: 5px;
    }

    .text{
        font-size: 20px;
        color: white;
    }
}